:root {
  font-family: "Open Sans", sans-serif;
}



/* #page {
  width: 800px;
  padding: 24px;
  background-color: #F0E8C2;
  border-radius: 24px;
  margin: 48px auto 28px;
  box-sizing: border-box;
  } */